* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: max-content auto;
    gap: 40px;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: auto max-content;
    background-color: rgb(12, 59, 145);
}

.title {
    color: white;
    padding: 10px;
}

.actions .search {
    padding: 10px;
}

button {
    padding: 10px
}

.goods-list {
    display: flex;
    justify-content: center;
    gap: 40px
}

.summ {
    display: flex;
    justify-content: flex-end;
}

.goods-item {
    width: 200px;
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.goods-search {
    height: 36px
}